/* Start box */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

/* End box */


/* Start padding and margin */
.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0;
}

/* End padding and margin */


/* Start color */
.bg-white {
  background-color: white;
}

.c-black {
  color: black;
}

/* End color */


/* Start position */
.p-relative {
  position: relative;
}

/* End position */

/* Start font */
.txt-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

/* End font */


/* Start border */
.rad-6 {
  border-radius: 6px;
}

/* End border */