.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.m-20 {
  margin: 20px;
}

.be-eee {
  background-color: #eee;
}

.bg-white {
  background-color: white;
}

.rad-6 {
  border-radius: 6px;
}